<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	</configSections>
	<configuration>
		<connectionStrings>
			<add name="MySqlConnection" connectionString="Server=localhost;Database=YourDatabase;Uid=YourUsername;Pwd=YourPassword;" providerName="MySql.Data.MySqlClient" />
			<add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=YourService)));User Id=YourUsername;Password=YourPassword;" providerName="Oracle.ManagedDataAccess.Client" />
			<add name="SqlServerConnection" connectionString="Server=YourServer;Database=YourDatabase;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		</connectionStrings>
	</configuration>
	<DXThemeManager>
		<setting name="ApplicationThemeName" serializeAs="String">
			<value>Office2019Black</value>
		</setting>
	</DXThemeManager>
</configuration>

