<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingFileAppender" />
	</root>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- 고정된 파일 이름 지정 -->
		<file value="log/application.log" />
		<appendToFile value="true" />
		<!-- 롤링 설정 제거 또는 크기 기반 롤링으로 변경 (선택 사항) -->
		<!-- <rollingStyle value="Size" /> -->
		<!-- <maxSizeRollBackups value="10" /> -->
		<!-- 백업 파일 수 -->
		<!-- <maximumFileSize value="10MB" /> -->
		<!-- 파일 크기 제한 -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>